@model Bodonate.Web.Views.ViewModels.UserModel
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserLogin</h2>

@using (Html.BeginForm("UserLogin", "Bodonate", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(model => model.Username)


    @Html.TextBoxFor(model => model.Username)


    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })



    @Html.LabelFor(model => model.Password)


    @Html.TextBoxFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password, "",new { @class = "text-danger" })





    <input type="submit" value="Login" />

}

